/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************HEADER**************************/

body {
   font-family: Rubik;
   display: table;
   margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  align-items: center;
  max-width: 1146px;
  margin: 0 auto;
  padding: 46px 10px 0 10px;
}


.navigation ul {
  display: flex;
}

.navigation ul li a {
  color: #4F5665;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
}


.navigation ul li:not(:last-child){
  margin-right: 40px;
}

.authorization {
  display: flex;
  align-items: center;
}

.sign-in {
  margin-right: 30px;

}

.sign-in button {
  text-decoration: none;
  color: unset;
  background-color: unset;
  border-color: unset;
  box-shadow: unset;
  border: none;
  font-size: 16px;
  color: #0B132A;
  font-weight: 700;
  line-height: 19px;
}

.sign-up button {
  padding: 13px 45px;
  border: 1px solid #F53855;
  border-radius: 50px;
  background-color: unset;
  color: #F53855;
  font-weight: 700;
}


/*-------------------INTRO------------------------*/

.intro {
  max-width: 1146px;
  margin: 0 auto;
  display: flex;

  margin-top: 100px;
  padding: 0px 10px 0 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  width: 530px;
}

.needbold {
  font-weight: 700;
}

.subtitle {
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

.get-started.tablet {
  display: none;
}
.get-started button {
  padding: 17px 80px;
  border: 1px solid #F53855;
  border-radius: 10px;
  background-color: #F53855;
  color: #ffffff;
  font-weight: 700;
  box-shadow: 0px 20px 54px -14px #F53855;

}

.promo-img img {

}

.boldvpn {
  font-weight: 700;
}

.info-stat {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 120px;
  height: 140px;
  padding: 30px 80px 30px 80px;
  box-shadow:  #f1f1f1 0px 1px 18px 4px;
}




.info-stat__icon {
  display: flex;
  align-items: center;
}

.icon-text {
  margin-top: 10px;
  font-weight: 300;
  color: #4F5665;
}

.icon-number {
  display: flex;
  flex-direction: column;
  margin-left: 38px;
}


.info-stat__icon2 {
  display: flex;
  align-items: center;
  position: relative;
}

.info-stat__icon2::before {
  content: '';
  border-left: 2px solid #EEEFF2;
  height: 125px;
  width: 2px;
  position: absolute;
  right: 260px;
}

.info-stat__icon2::after {
  content: '';
  border-left: 2px solid #EEEFF2;
  height: 125px;
  width: 2px;
  position: absolute;
  left: 260px;
}

/*-------------------TERMS------------------------*/

.terms {
  display: flex;
  max-width: 1146px;
  margin: 0 auto;
  margin-top: 96px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
}

.terms-info {
  display: flex;
  flex-direction: column;
}

.terms-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  width: 380px;
  color: #0B132A;
  margin-top: 48px;
}

.terms-subtitle {
  font-family: Rubik;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  width: 410px ;
  color: #4F5665;
  font-weight: 300;
  margin-top: 20px;
}

.terms-content {
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  display: flex;
  align-items: center;
  margin-top: 15px ;
}

.terms-content-box{
  display: flex;
  flex-direction: column;
  margin-top: 20px;

}

.terms-content img {
  margin-right: 10px;
}

/*-------------------PLANS------------------------*/
/* .plans-backgroun {
  background: rgb(251,251,255);
  background: linear-gradient(0deg, rgba(251,251,255,1) 0%, rgba(230,230,230,0.27494747899159666) 9%);
} */

.plans {

  max-width: 1146px;
  margin: 0 auto;
}
.plans-intro-block {
  max-width: 1146px;
}

.plans-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
  padding-bottom: 20px;
}

.plans-subtitle {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin: 0 auto;
  width: 555px;
  text-align: center;
}

.plans-plans {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}


.info-plan {
  width: 330px;
  height: 760px;
  display: flex;
  flex-direction: column;
  border: 1px solid  rgb(185, 181, 181);
  border-radius: 10px;
  align-items: center;
}

.info-plan.premium {
  border: 1px solid #F53855;
}
.info-plan .box {
  margin: 97px 0 30px 0;
}
.info-plan .box img {
  margin-bottom: 30px;
}

.title-plan {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0B132A;
}

.plan-content {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  display: flex;
  align-content: center;
}

.plan-content img {
  margin-right: 30px;
}

.plans-actions {
  margin: auto 0 50px 0;
}
.plans-actions > div:first-child {
  margin-bottom: 20px;
}
.plans-actions__price {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0B132A;
}

.plan-list {

}

.plans-actions__select button {
  padding: 13px 45px;
  border: 1px solid #F53855;
  border-radius: 50px;
  background-color: unset;
  color: #F53855;
  font-weight: 700;
}

.plans-actions__select .premium button {
  background-color: #F53855;
  color: #ffffff;
  box-shadow: 0px 20px 54px -14px #F53855;
}


/*-------------------GLOBAL------------------------*/

.global {
  max-width: 1146px;
  margin: 0 auto;
  margin-top: 150px;
}

.global-title {
  text-align: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
  width: 380px;
  margin: 0 auto;
}

.global-subtitle {
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4F5665;
  margin: 0 auto;
  padding-top: 20px;
  width: 380px;
}

.global-map {
  text-align: center;
  margin-top: 150px;
}

.for-apps {
  display: flex;
  justify-content: space-around;
  max-width: 1146px;
  margin: 0 auto;
  align-items: center;
  margin-top: 110px;
}

.for-apps-img {

}

/* FEEDBACK */
.slider {
  display: flex;
  justify-content: space-around;
  max-width: 1146px;
  margin: 0 auto;
  align-items: center;
  margin-top: 110px;
}
.slider > div {
  width: 100%;
}

.slider-containter {
  display: flex;
}
.slider-containter > div {
  height: 320px;
  width: 400px;
}

@media only screen and (max-width: 1146px) {
  .intro {
    flex-direction: column;
  }
  .intro > *{
    margin: 0 auto;
    text-align: center;
  }
  .title {
    width: unset;
  }
  .get-started.tablet {
    display: block;
    margin-top: 50px;
  }
  .get-started.full {
    display: none;
  }
  .subtitle {
    margin-top: 20px;
  }

  .promo-img {
    margin-top: 50px;
  }
}
